@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/* 
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 -1200px:    Tablet landscape
[1200 - 1800]   Is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

1rem = 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint == thesmallest-phone {
    @media (max-width: 20.5em) {
      @content;
    }
  }

  @if $breakpoint == smallest-phone {
    @media (max-width: 22.5em) {
      @content;
    }
  }

  @if $breakpoint == small-phone {
    @media (max-width: 25.5em) {
      @content;
    }
  }

  @if $breakpoint == smaller-phone {
    @media (max-width: 31.5em) {
      @content;
    }
  }

  @if $breakpoint == phone {
    @media (max-width: 39.5em) {
      @content;
    }
  }

  @if $breakpoint == big-phone {
    @media (max-width: 44.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-small {
    @media (max-width: 64.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
