$color-primary: #1e293b;
$color-primary-light: #112240;
$color-primary-light-2: #0f172a;
$color-primary-dark: #0a192f;

// Form alert
$color-primary-alert: #f87171;
$color-primary-success: #047857;

// Card 1
$color-secondary-light: #e9d5ff;
$color-secondary-dark: #d8b4fe;

// Card 2
$color-quartery-light: #44403c;
$color-quartery-dark: #292524;

// Card 3
$color-card-3-light: #0ea5e9;
$color-card-3-dark: #0c8ac5;

// Card 4
$color-card-4-light: #fdf2e9;
$color-card-4-dark: #f5e5d8;

// Card 5
$color-card-5-light: #5f5c5a;
$color-card-5-dark: #2b2929;

// Card 6
$color-card-6-light: #5f5c5a;
$color-card-6-dark: #2b2929;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-dark: #9aa3ba;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-green-light: #64ffdb30;

$color-white: #fff;
$color-pink: #faf4ee;
$color-green: #67fcc8;
$color-black: #000;
$color-js: #f7df1e;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// SHADOW
$box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

// ANIMATION
$duration: 2s;
