.tech__stack {
  margin-left: 5rem;
  position: relative;
  padding: 4rem 8rem 4rem 8rem;
  border-radius: 6px;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  @include respond(big-phone) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    @include respond(big-phone) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 4rem;
    }
  }

  &-ul svg {
    max-height: 6rem;
    width: auto;
    transition: all 0.3s;
  }

  &-ul svg:hover {
    cursor: pointer;
    transform: translate(-0%, -8%);
  }
}

.experience-left {
  @include respond(tab-port) {
    padding-left: 10rem;
  }

  @include respond(tab-small) {
    padding-left: 5rem;
  }
}

.btn--blue-responsive {
  @include respond(tab-port) {
    margin-left: 0 !important;
  }
}
