.footer {
  background-color: $color-grey-dark-3;
  padding: 10rem 0;
  padding-top: 15rem;
  font-size: 1.4rem;
  color: $color-grey-light-1;

  &__container {
    max-width: 130rem;
    text-align: center;
    margin: 0 auto;
  }

  @include respond(tab-port) {
    padding: 8rem 0;
  }

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;

    @include respond(tab-port) {
      margin-bottom: 6rem;
    }
  }

  &__logo {
    width: 25rem;
    height: auto;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @include respond(phone) {
      padding: 1rem;
    }
  }

  &__title {
    font-size: 2.2rem;

    @include respond(big-phone) {
      font-size: 2.4rem;
    }
  }

  &__grid-1-of-2 p {
    font-size: 1.8rem;

    @include respond(big-phone) {
      font-size: 2.2rem;
    }
  }

  &__navigation {
    list-style: none;
  }

  &__line {
    max-width: 85%;
    margin: 0 auto;
    margin-top: 2rem;
  }

  &__copyright {
    margin-top: 4rem;
    font-size: 1.8rem;

    @include respond(big-phone) {
      font-size: 2.2rem;
    }
  }
}
