.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero-background-4.webp);
  background-size: cover;
  background-position: top;
  position: relative;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__font-box {
    position: absolute;
    top: -2.2rem;
    left: -59.2rem;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__font-box--2 {
    position: absolute;
    width: 30rem;
    top: -2rem;
    left: -7.5rem;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__font {
    //height: 20rem;
    display: inline-block;
    transform: rotate(90deg);
    height: 76rem;
  }

  &__logo {
    max-width: 35%;
    height: auto;

    @include respond(big-phone) {
      max-width: 25%;
    }
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 47vw;
    transform: translate(-50%, -50%);

    @include respond(big-phone) {
      left: 0;
      margin-top: 4rem;
      padding-left: 70rem;
      margin-left: 2rem;
    }

    @include respond(middle-phone) {
      left: 0;
      padding-left: 0 !important;
      margin-right: 20rem;
    }

    @include respond(phone) {
      left: 0;
      margin-top: -5rem;
      margin-left: 20rem;
    }

    @include respond(smaller-phone) {
      left: 0;
      margin-left: 14rem;
      padding-right: 0;
    }

    @include respond(small-phone) {
      left: 0;
      margin-left: 6rem;
      padding-right: 0;
    }

    @include respond(smallest-phone) {
      left: 0;
      margin-left: 1rem;
      padding-right: 0;
    }

    @include respond(thesmallest-phone) {
      left: 0;
      margin-left: 0rem;
      padding-right: 0;
    }
  }

  &__flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__me-img {
    display: inline-block;
    margin-top: 6rem;
    margin-left: -20rem;
    max-width: 25rem;
    height: auto;
    border-radius: 50%;
    border: 8px solid $color-green;
    filter: grayscale(100%);
    transition: filter 0.5s ease;

    @include respond(tab-port) {
      display: none;
    }

    &:hover {
      filter: grayscale(0%);
    }
  }

  &__contact--list {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 16px;

    @include respond(tab-land) {
      margin-right: 3rem;
    }

    @include respond(small-phone) {
      margin-right: 10rem;
    }
  }
}

.react {
  color: $color-green;
}

.javascript {
  color: $color-js;
}

.nav-icons {
  position: absolute;
  top: 6rem;
  right: 12%;
  //transform: translate(-50%, 32px);
  z-index: 999;

  @include respond(phone) {
    right: 2%;
  }
}

.nav-icons ion-icon {
  font-size: 22px;
  color: $color-grey-dark;
}

.functionalities {
  position: fixed;
  top: 20rem;
  right: 5%;
  z-index: 999;

  @include respond(big-phone) {
    display: none;
  }

  &__list {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 2px;
  }

  &__icon {
    color: $color-grey-dark;
    font-size: 2.2rem;

    @include respond(tab-land) {
      font-size: 2.6rem;
    }

    @include respond(big-phone) {
      font-size: 3.5rem;
    }

    @include respond(phone) {
      font-size: 3.7rem;
    }
  }
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary-light;
  z-index: 9999;
}
