.dots {
  // position: fixed;
  position: absolute;
  top: 22rem;
  right: 8.5rem;
  //transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 12px;
  //z-index: 2000;

  &__btn {
    height: 12px;
    width: 12px;
    background-color: $color-pink;
    border: 2px solid $color-green;
    border-radius: 50%;
    cursor: pointer;
  }

  &__btn--fill {
    background-color: $color-green;
  }
}
