.section-about {
  background-color: $color-pink;
  padding: 25rem 0;
  margin-top: -10rem;
  transform: skewY(-7deg);

  @include respond(tab-port) {
    margin-top: -20rem;
  }
}

.section-experience {
  & > * {
    transform: skewY(7deg);
  }
}

.section-projects {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero-background-4.webp);
  background-size: cover;
  background-position: top;
  position: relative;
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }
}

.section-contact {
  background-color: $color-pink;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}

.image {
  position: relative;
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/hero-background-4.webp);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

  &__heading {
    position: absolute;
    font-size: 2.6rem;
    top: 10rem;
    right: 10rem;
    color: $color-grey-dark;
    //color: $color-green;
  }

  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 65%,
        transparent 65%
      ),
      url(../img/hero-background-4.webp);
    background-size: cover;
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%
      ),
      url(../img/hero-background-4.webp);
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land) {
      width: 56%;
    }

    @include respond(tab-port) {
      width: 100%;
    }

    &--logo {
      position: absolute;
      max-width: 30%;
      top: 5rem;
      /*  height: 60rem; */
      right: 10%;
    }
  }
}

.section {
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.dark-mode {
  //#1e1e1e, #242424, #252525
  //background-color: #222 ;
  //background-color: #333;
  background-color: #1b1b1b;
  color: $color-green;
}

.btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.loader-img {
  display: inline-block;
  margin: 0 auto;
}

.loader {
  width: 25%;

  @include respond(tab-port) {
    width: 40%;
  }

  @include respond(big-phone) {
    width: 50%;
  }

  @include respond(phone) {
    width: 60%;
  }

  @include respond(small-phone) {
    display: none;
  }
}

.react-icon {
  @include respond(big-phone) {
    width: 11px;
    height: 11px;
  }
}

.js-icon {
  @include respond(big-phone) {
    width: 11px;
    height: 11px;
  }
}
